<div class="tarjeta">

  <h1 class="mt-3">Lista de Tareas</h1>

  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex">
      <input type="text" class="form-control">
      <button type="button" class="btn btn-warning ms-3">Buscar</button>
    </div>

    <a [routerLink]="['/add-tarea']" class="btn btn-primary">Añadir Tarea</a>
  </div>

  <ng-container *ngIf="tareas$ | async as tareas">
    <table class="table table-bordered mt-3">
      <thead>
        <th>Nombre</th>
        <th>Comentario</th>
        <th>Estado de la Tarea</th>
        <th>Estado</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas">
          <td>{{tarea.nombre}}</td>
          <td>{{tarea.comentario}}</td>
          <td>{{tarea.estTarea}}</td>
          <td>{{tarea.estado}}</td>
          <td>
            <a class="btn btn-secondary" [routerLink]="['/edit-tarea', tarea.id]">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
